<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML Codex - Register Form Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Register Form Template" name="keywords">
    <meta content="Register Form Template" name="description">

    <!-- Favicon -->
    <link href="~/img/faviconLogin.ico" rel="icon">

    <!-- Stylesheet -->
    <link href="~/css/styleLogin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper login-1">
        <div class="container">
            <div class="col-right">
                <!-- Đổi col-left thành col-right -->
                <div class="login-text">
                    <!-- Phần chào mừng chuyển qua bên phải -->
                    <h2>Welcome!</h2>
                    <p>Join us today.<br>Create your account for free.</p>
                    <a class="btn" href="login.html">Sign In</a>
                </div>
            </div>
            <div class="col-left">
                <!-- Đổi col-right thành col-left -->
                <div class="login-form">
                    <!-- Phần form đăng ký nằm bên trái -->
                    <h2>Register</h2>
                    <form>
                        <p>
                            <label>Full Name<span>*</span></label>
                            <input type="text" placeholder="Full Name" required>
                        </p>
                        <p>
                            <label>Email Address<span>*</span></label>
                            <input type="email" placeholder="Email Address" required>
                        </p>
                        <p>
                            <label>Password<span>*</span></label>
                            <input type="password" placeholder="Password" required>
                        </p>
                        <p>
                            <input type="submit" value="Sign Up" />
                        </p>
                        <p>
                            Already have an account? <a href="login.html">Sign In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="credit">
            Template by <a href="https://htmlcodex.com">HTML Codex</a>
        </div>
    </div>
</body>
</html>
