@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="row gx-3">
    <div class="col-sm-12 col-12">
        <div class="card">
            <div class="card-body">

                <div id="dayGrid"></div>

            </div>
        </div>
    </div>
</div>

<script src="~/admin/js/jquery.min.js"></script>
<script src="~/admin/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/js/moment.min.js"></script>

<!-- *************
        ************ Vendor Js Files *************
    ************* -->
<!-- Overlay Scroll JS -->
<script src="~/admin/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
<script src="~/admin/vendor/overlay-scroll/custom-scrollbar.js"></script>

<!-- Calendar JS -->
<script src="~/admin/vendor/calendar/js/main.min.js"></script>
<script src="~/admin/vendor/calendar/custom/daygrid-calendar.js"></script>

<!-- Custom JS files -->
<script src="~/admin/js/custom.js"></script>

